.list__item-string {
  display: inline-block;
}

.list__item {
  font-size: 1.8rem;
  color: var(--text-regular);
}

.list__item-key {
  display: inline-block;
  font-weight: 700;
  color: var(--key-color);
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}
